/* 라디오 박스 컨테이너 */
.radio-container {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 10px; /* 패딩 추가 */
  }
  
  /* 라디오 박스 스타일 */
  .radio-container input[type="radio"] {
    appearance: none; /* 기본 스타일 제거 */
    -webkit-appearance: none; /* 크롬, 사파리 등에 대응 */
    -moz-appearance: none; /* 파이어폭스에 대응 */
    width: 14px; /* 작은 원 크기 */
    height: 14px; /* 작은 원 크기 */
    border: 2px solid #555; /* 회색 테두리 */
    border-radius: 50%; /* 원 형태로 만들기 */
    outline: none;
    margin-right: 8px; /* 가로 마진 추가 */
    margin-left: 4px; /* 가로 마진 추가 */
    cursor: pointer;
  }
  
  /* 라디오 박스 체크 시 색상 */
  .radio-container input[type="radio"]:checked {
    background-color: #555; /* 선택 시 회색 배경색 */
  }
  
  /* 라벨 스타일 */
  .radio-container label {
    cursor: pointer;
  }